@font-face {
    font-family: MontserratBold;
    src: url('fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: MontserratRegular;
    src: url('fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

.tx-produktshow {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    position: relative;
    width: fit-content;

 
}
.notfound{
    
    display: flex;
    justify-content: center;
    align-items:center;
    height: 60vh;
    font-weight: 400;
    font-size: 70px;
    line-height :100px;
    color: #505050;
    font-family: 'MontserratBold';

}
.product-title{
    font-weight: 400;
    font-size: 25px;
    line-height :30px;
    color: #505050;
    font-family: 'MontserratRegular';

    
}
.donne{
    font-weight: 400;
    font-size: 16px;
    line-height :19px;
    color: #505050;
    font-family: 'MontserratRegular';

}
.donne-green{
    font-weight: 700;
    font-size: 20px;
    line-height :24px;
    color: #AFD96F;
    font-family: 'MontserratBold';
}
.search{
 border-color: #E1E1E1;
}
.sidebar {
    width: 250px;
    height: 100%;
    background-color:white;
    padding: 30px;
    position: fixed;
    box-shadow: 0px 0px 10px #E1E1E1
}

.icon-input {
    position: relative;
    max-width: 300px;
    margin-bottom: 25px;
}

.icon-input input {
    width: 100%;
    padding: 10px 20px;
}

 
.img-btn{
    background-color: transparent;
  border-color: transparent;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.categories  h2 {
    color: #AFD96F;
    margin-bottom: 10px;
}

.categories label {
    display: block;
    padding-top: 10px;}

 
/* checkbox icon intergration*/

input[type="checkbox"] {
    display: none; /* Kontrollkästchen standardmäßig ausblenden */
}

 label img {
    width: 15px;
    height: 15px;
 }
.category-name{
    margin-left: 10px;
}
/* Benutzerdefinierter Symbolstil, wenn das Kontrollkästchen aktiviert ist */
input[type="checkbox"]:checked + label .icon {
    content: url("/schommer/fileadmin/user_upload/button_aktiv.svg"); /* link zum aktiven Symbol */
}

.priceRange {
    color: #AFD96F;
    
}

.Preis {
    margin-top: 35px;
}
.Preis  h2 {
    color: #AFD96F;
    margin-bottom: 10px;
}
a{
    text-decoration:none;
    color: #505050;
}
.right-section {
    margin-left: 250px;
    background-color: white;
    padding: 30px;
    width:100%;

}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    row-gap: 50px;
 }

.product-card {
    flex: 1 1 400px;
    max-width:400px;
    box-sizing: border-box;
    position: relative;

}

.product-img {
    width: 400px;
    height: 400px;
    border-left: 3px solid #E1E1E1;
}

.product-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.product-price  {
     padding-top: 10px;
    padding-bottom: 15px;
}
.zoom{
    transition: transform .3s; /* Animation */

}
.zoom img:hover{
      transform: scale(1.05); /* (105% zoom ) */
}

.pagination {
    display: flex;
    list-style: none;
    margin-top: 50px;
    justify-content: center;
}

.pagination li {
    margin-right: 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    color: #505050;
    border: 1px solid #E1E1E1;  
    padding: 10px 10px;
    

}
.pagination a:hover {
    background-color: #AFD96F;
}
.pagination a.active {
    background-color: #AFD96F;
}

.out-of-stock {
    border-left: 3px solid #E1E1E1;

}
.out-of-stock img{
    position: relative;
    opacity: 0.2;}

.out-of-stock-text {
    position: absolute;
    color: #DF2727;
    font-weight: 700;
    font-size: 20px;
    line-height :24px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'MontserratBold',sans-serif;


}
 




/*drop*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: transparent;
    width: max-content;
    color: #505050;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
 
  /* Dropdown-Inhalt (standardmäßig ausgeblendet)*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links a im Dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: context-menu;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block; 
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn img {
    background-color: transparent;
    color:#505050;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
/*detaille*/
.titel-product{
    display:inline;
    font-weight: 700;
    font-size: 25px;
    line-height :24px;
    color: #505050;
    font-family: 'MontserratBold';
}
.paddinpreis{
    padding-top: 30px;
}
.titel-top{
    display:none;
 }
.titel{

    margin-bottom: 35px;
    font-weight: 700;
    font-size: 25px;
    line-height :24px;
    color: #505050;
    font-family: 'MontserratBold';

}
.rotate90 {
    transform: rotate(90deg);
    transition: transform 0.3s ease;  
    width: 22px;
    height: auto;
}
.container-d {
    max-width: 1000px;
    display:flex;   
}
.image{
    padding-right: 10px;

}
.product-detaille img{
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 500px;
    transition: transform .2s ease; /* Animation */
}
.product-info{
    max-width: 500px;
    height: auto;
 }
 .button-kaufen{
    background-color: transparent;
    border: 1px solid #AFD96F;
    border-radius: 50px;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 25px;

}
.button-kaufen-disabled{
    background-color: transparent;
    border-color: gray;
    color: gray;  
    border-radius: 50px;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 25px;

}
.zuruck{
    padding: 18px;
}


.similar-products-title{
    padding-top:60px;
}
.similar-products{
    max-width: 1000px;
    max-height: 500px;
    display:flex; 
    padding-top: 50px;;

}

 
.product-img-similar {
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 360px;
    border-left: 3px solid #E1E1E1;
}
.product-img-similar img{
   
    width: 360px;
    height: 360px;
}
 .donne-detaille{
    font-weight: 400;
    font-size: 16px;
    line-height :19px;
    color: #505050;
    font-family: 'MontserratRegular';

}
 
 .product-donne-detaille{
    font-weight: 400;
    font-size: 25px;
    line-height :30px;
    color: #505050;
    font-family: 'MontserratRegular';

    
}
.product-donne-red{
    font-weight: 400;
    font-size: 25px;
    line-height :30px;
    color: #DF2727;
    font-family: 'MontserratRegular';

    
}
.detaille{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}
.detaille a{
    
        text-align: left;
        text-decoration: none;
    
}
 
.btn{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    background-color: #77aa78;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
    body {
        display: block;
    }
    .out-of-stock {
        border-left: 0px solid #E1E1E1;
    }
    .sidebar {
        width: 100%;
        background-color: white;
        padding: 30px;
        position: relative;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    }
    .product-img {
        border-left: 0px solid #E1E1E1;
        width: auto;
        height: auto;
        
    }
    
    .right-section {
        margin-left: 0px;
    }
    .notfound{
        font-size: 30px;}
    /*detaille*/
    .container-d{
        display: block;

    }
    .image{
        width: 100%;
        height:auto;
    }
    
    .product-detaille img{
        max-width: 100%;
        height: auto;
        padding: 10px;
    }    
    .product-info{
        width: 100%;
   }
   
    .titel-top{
        display:inline;
    }
    .titel-product{
        display:none;
        
    }
    .similar-products-title{
        padding-top:60px;
    }
    .similar-products{
        display: block;
 

    }
    .product-img-similar{
       
        width: auto;
        height: auto;
        
    }
    .detaille{
        margin: 0;
        padding: 5px;
        box-sizing: border-box;
    }
    .detaille a{
        
            text-align: left;
            text-decoration: none;
        
    }
     
}

