<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
 

<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
      Templates:
        Produkt:
          List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

 
<f:section name="content" >
 
    <div class="sidebar">
       <!-- <f:render partial="FilterForm"   />-->
       <form   
            id="form" 
            action="{f:uri.action(action: 'list' , controller: 'Produkt' )}"
            method="post">
            <div class="icon-input">
                <input type="search" name="searchTerm" class="search" value="{searchTerm}" placeholder="Suche..." />
                
                 <button type="submit" class="img-btn" onclick="submit()"><img src="/schommer/fileadmin/user_upload/lupe.svg" /></button>

            </div>
            <div class="categories">
                <h2 class="donne-green">Kategorien</h2>
                <f:for each="{kategories}" as="kategory">
                    <div class="checkbox-custom">
                        <f:if condition="{kategory.uid} in {selectedCategories}">
                            <f:then>
                                <f:form.checkbox id="myCheckbox{kategory.uid}" onclick="submit()" name="kategory[]" value="{kategory.uid}" checked="checked" />
                            </f:then>
                            <f:else>
                                <f:form.checkbox id="myCheckbox{kategory.uid}" onclick="submit()" name="kategory[]" value="{kategory.uid}" />
                            </f:else>
                        </f:if>
                        <label class="donne" for="myCheckbox{kategory.uid}">
                            <img src="/schommer/fileadmin/user_upload/button_inaktiv.svg" alt="Icône par défaut" class="icon" />
                            <span class="category-name">{kategory.namekategory}</span>
                            <span class="category-name">{kategory.uid}</span>
                        </label>
                    </div>
                </f:for>
                <f:for each="{selectedCategories}" as="data">
                <div>{data}</div>
                </f:for>
            </div>
            <div class="dropdown Preis">
                <h2 class="donne-green">Preis</h2>
                <button class="dropbtn"  >Preisspanne wählen<span><img src="/schommer/fileadmin/user_upload/pfeil.png" /></span></button>
                <div class="dropdown-content donne">
                    <input type="hidden" value="0"   name="priceRange"/>
                    <a  onclick="price_filter(1)" >0 $ - 50 $</a>
                    <a  onclick="price_filter(2)" >50 $ - 100 $</a>
                    <a  onclick="price_filter(3)" >100 $ - 200 $</a>
                    <a  onclick="price_filter(4)" >200 $ und mehr</a>
                </div>
            </div>
    

        </form>
 


    </div>
    <div class="right-section">
        <div class="product-cards">
          <f:for each="{produkts}" as="produkt">
              <a href="{f:uri.action(action: 'show', arguments: {produkt: produkt})}">
                  <div class="product-card">
                      <div class="product-info">
                          <h1 class="product-title">{produkt.titel}</h1>
                          <h2 class="donne-green product-price">{produkt.preis} €</h2>
                      </div>

                      <f:if condition="{produkt.lager} == 0">
                          <f:then>
                              <div class="out-of-stock zoom">
                                  <img src="/schommer/fileadmin/user_upload/{produkt.dateiname}" alt="alt{produkt.titel}">
                              </div>
                              <h2 class="out-of-stock-text">ausverkauft</h2>
                          </f:then>
                          <f:else>
                              <div class="product-img zoom">
                                  <img src="/schommer/fileadmin/user_upload/{produkt.dateiname}" alt="alt{produkt.titel}">
                              </div>
                          </f:else>
                      </f:if>
                  </div>
              </a>
          </f:for>
          
      </div>
    </div>  

</f:section>
</html>
