<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-produkts">
	<tr>
		<td><f:translate key="tx_produkts_domain_model_produkt.titel" /></td>
		<td>{produkt.titel}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_produkts_domain_model_produkt.preis" /></td>
		<td>{produkt.preis}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_produkts_domain_model_produkt.lagerbestand" /></td>
		<td>{produkt.lagerbestand}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_produkts_domain_model_produkt.lieferzeit" /></td>
		<td>{produkt.lieferzeit}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_produkts_domain_model_produkt.dateiname" /></td>
		<td>
				<f:image src="{produkt.dateiname.originalResource.publicUrl}" width="200"/>
            </td>
	</tr>
</table>
</html>
