<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Produkt:
          Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
  <div class="c">

    <div class="zuruck donne">
      <f:link.action action="list"><img class="rotate90" src="/schommer/fileadmin/user_upload/pfeil.png" />zurück</f:link.action>
    </div>
    <div >
        <p class="titel-top titel">{produkt.titel}</p>
    </div> 

    <div class="container-d product-detaille">
        <div class="image zoom">
            <img src="/schommer/fileadmin/user_upload/{produkt.dateiname}" alt="{produkt.titel}">
        </div> 
        <div class="product-info">
            <p class="titel-product titel">{produkt.titel} |{uid}| {type.uid}</p>
            <h2 class="donne-green">Preis</h2>
            <h1 class="product-donne">{produkt.preis} €</h1>
            <h2 class="donne-green">Versand</h2>
            <h1 class="product-donne">Lieferung bis {jourLivraison}</h1>
            <h2 class="donne-green">Lagerbestand</h2>
              <f:if condition="{produkt.lager} == 7">
                <h1 class="product-donne">Nur noch 7 Stück Auf Lager</h1>
              </f:if>
    
                <f:if condition="{produkt.lager} < 7 && {produkt.lager} != 0">
                  <h1 class="product-donne">weniger als 7 Stück Auf Lager</h1>
              </f:if>
            
              <f:if condition="{produkt.lager} > 7">
                  <h1 class="product-donne">Auf Lager</h1>
              </f:if>
              <f:if condition="{produkt.lager} == 0">
                  <h1 class="product-donne-red">AKtuell nicht auf Lager !</h1>
              </f:if>
        
              <f:if condition="{produkt.lager} == 0">
                <f:then>
                  <button class="button-kaufen-disabled donne" disabled>Kaufen</button>

                </f:then>
                <f:else>
                  <button class="button-kaufen donne">Kaufen</button>
                </f:else>  
              </f:if>   
        </div>
    </div>
      <p class="similar-products-title titel">Ähnliche Produkte</p>
     <div class="similar-products">
         <f:for each="{similarProducts}" as="similarProduct">
          <a href="{f:uri.action(action: 'show', arguments: {produkt: similarProduct})}">

             <div class="product-card-similar">
                 <div class="product-info-similar">
                     <h1 class="product-donne">{similarProduct.titel}</h1>
                     <h2 class="donne-green product-price">{similarProduct.preis} €</h2>
                 </div>
                 <div class="product-img-similar zoom">
                     <img src="/schommer/fileadmin/user_upload/{similarProduct.dateiname}" alt="{similarProduct.titel}">
                 </div>
             </div>
           </a>  
         </f:for>
     </div>
  </div>

</f:section>
</html>
