<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="titel">
	<f:translate key="tx_produktshow_domain_model_produkt.titel" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="titel" id="titel" /><br />
<label for="preis">
	<f:translate key="tx_produktshow_domain_model_produkt.preis" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="preis" id="preis" /><br />
<label for="lager">
	<f:translate key="tx_produktshow_domain_model_produkt.lager" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lager" id="lager" /><br />
<label for="lieferzeit">
	<f:translate key="tx_produktshow_domain_model_produkt.lieferzeit" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lieferzeit" id="lieferzeit" /><br />
<label for="dateiname">
	<f:translate key="tx_produktshow_domain_model_produkt.dateiname" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="dateiname" id="dateiname" /><br />
</html>