<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
 

<f:layout name="Default" />


<f:section name="content" >
         <div class="container">
            <form action="{f:uri.action(action: 'import')}" method="post" enctype="multipart/form-data">
                <label for="csvFile">Sélectionner un fichier CSV :</label>
                <input type="file" id="csvFile" name="csvFile" accept=".csv">
                <button type="submit">Importer</button>
            </form>
            <f:if condition="{errors}">
                <div class="errors">
                    <f:for each="{errors}" as="error">
                        <p>{error}</p>
                    </f:for>
                </div>
            </f:if>
        </div>
   
        
</f:section>
</html>